/**************
   RESPONSIVE
 *************/

/* SPOTIFY MD 1100 */
@media screen and (max-width: 1100px){
    .album-list .box-album{
        width: calc(100% / 4 - 10px);
    }
}

/* SPOTIFY MD 700 */
@media screen and (max-width: 700px){
    .album-list .box-album{
        width: calc(100% / 2 - 10px);
    }
}

/* SPOTIFY MD 500 */
@media screen and (max-width: 500px){

    /* HEADER */
    .header-controller{
        padding: 0 5px;
    }

    /* MAIN SECTION */
    main{
        width: calc(100% - 50px);
    }
    
    .header-upgrade{
        width: calc(100% - 50px);
    }
    
    /* NAVIGATION BAR (LEFT) */
    .navigation-coffin{
        width: 50px;
    }

    .navigation-coffin .logo{
        width: 25px;
        height: 25px;
        background-image: url("../img/logo-small.svg");
    }

    .footer-nav-left .download a span,
    .footer-nav-left .account a span,
    .navbar-coffin ul li a span,
    .playlist{
        display: none;
    }

    .navbar-coffin ul li a,
    .footer-nav-left .download a,
    .footer-nav-left .account a{
        width: 50px;
    }

    .download {
        border-bottom: 0;
    }
}


/**************
    EFFECT
**************/

/* .cur-pon{

} */