/**************
   RESPONSIVE
 *************/

 /* responsive plailist list */
 @media screen and (min-height: 900px){
    .playlist ul.overf-y{
        height: 250px;
    }
}

 @media screen and (min-height: 768px){
    .playlist ul.overf-y{
        height: 200px;
    }
}

 @media screen and (max-height: 600px){
    .playlist ul.overf-y{
        height: 90px;
    }
}


/* SPOTIFY MD 1100 */
@media screen and (max-width: 1100px){
    .album-list .box-album{
        width: calc(100% / 4 - 10px);
    }
}

/* SPOTIFY MD 700 */
@media screen and (max-width: 700px){
    .album-list .box-album{
        width: calc(100% / 2 - 10px);
    }
}

/* SPOTIFY MD 500 */
@media screen and (max-width: 500px){

    /* HEADER */
    .header-controller{
        padding: 0 5px;
    }

    .header-controller .container-right{
        flex-direction: column;
    }

    .container-right .icon-banner{
        margin-bottom: 3px;
        align-self: center;
    }

    /* MAIN SECTION */
    main{
        width: calc(100% - 50px);
    }
    
    .header-upgrade{
        width: calc(100% - 50px);
    }
    
    /* NAVIGATION BAR (LEFT) */
    .navigation-coffin{
        width: 50px;
    }

    .navigation-coffin .logo{
        width: 25px;
        height: 25px;
        background-image: url("../img/logo-small.svg");
    }

    .footer-nav-left .download a span,
    .footer-nav-left .account a span,
    .navbar-coffin ul li a span,
    .playlist{
        display: none;
    }

    .navbar-coffin ul li a,
    .footer-nav-left .download a,
    .footer-nav-left .account a{
        width: 40px;
    }

    .download {
        border-bottom: 0;
    }
}


/**************
    EFFECT
**************/

/* utilities */
.col-gray:hover{
    color: white;
}
.cur-pon:hover{
    cursor: pointer;
}

/************
 HEADER EFFECT  
*************/
.container-left .info-music-banner span:hover{
    text-decoration: underline;
}

/* music controller */
.container-center .controller-music i:hover{
    cursor: pointer;
}

.container-center .controller-music i:nth-child(3):hover{
    transition: transform 0.2s;
    transform: scale(1.1);
}

/* time bar */
.bar:hover .progress{
    background-color: #adff2f;
    cursor: pointer;
}

.bar:hover .progress::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: grab;
}

/*********************
NAVIGATION BAR (LEFT)
*********************/
.logo-home{
    position: relative;
}
.logo-home::before{
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: #adff2f;
    position: absolute;
    top: 0;
    right: 110%;
}

.playlist div.add-playlist:hover *{
    color: white;
}

.footer-nav-left .download:hover *{
    color:white;
}


/************
 MAIN EFFECT  
*************/
.navbar-main li:first-child{
    position: relative;
    margin-bottom: 3px;
}
.navbar-main li:first-child::after{
    content: '';
    display: block;
    width: 40%;
    height: 2px;
    background-color: #adff2f;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* button upgrade */
.butt-upgrade:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
}

/* double background effect, main playlist */
.cover{
    position: relative;
    justify-content: center;
    align-items: center;
}

.icon-play{
    position: absolute;
    font-size: 38px;
    display: none;
}

.cover:hover::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(../img/);
    cursor: pointer;
}
.cover:hover .icon-play{
    display: block;
    cursor: pointer;
}

.artist .cover:hover::before{
    border-radius: 50%;
}