*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}

/* UTILITY */
.overf-y{
    overflow-y: auto;
}

.mr-r-10{
    margin-right: 10px;
}
.mr-r-20{
    margin-right: 20px;
}
.mr-r-30{
    margin-right: 30px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}

.col-gray{
    color: #7d7f84;
}

.dis-flex{
    display: flex;
}
.alig-cent{
    align-items: center;
}

/* SETUP DIMENSIONI */

.header-controller{
    width: 100%;
    height: 70px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navigation-coffin{
    width: 180px;
    height: calc(100% - 70px);
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

main{
    width: calc(100% - 180px);
    height: calc(100% - 70px);
    background-color: #141922;
    position: fixed;
    top: 0;
    right: 0;
}

/*************** 
    HEADER
****************/

.header-controller{
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

/* CONTAINER LEFT BAR CONTROLLER */
.container-left .banner-music img{
    width: 45px;
    height: 45px;
}

.banner-music .info-music-banner span{
   font-size: 12px;
}

.container-left .icon-banner{
    flex-direction: column;
}

/* CONTAINER CENTER BAR CONTROLLER */
.container-center .controller-music{
    justify-content: center;
    margin-bottom: 10px;
}

.container-center .controller-music i{
    font-size: 18px;
}
.container-center .controller-music i.play-music{
    font-size: 26px;
}


/* BAR TIME && BAR SOUND */
.bar .time-bar{
    font-size: 12px;
}

.bar .progress-bar{
    position: relative;
    width: 25vw;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 3px;
}

.bar .sound-bar{
    position: relative;
    width: 8vw;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 3px;
}

.bar .progress{
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 5px;
}

/* CONTAINER RIGHT */
.container-left i,
.container-right i{
    font-size: 15px;
}


/************************
    NAVIGATION BAR (LEFT)
*************************/
.navigation-coffin{
    padding: 10px;
    flex-direction: column;
}

.container-main-nav{
    flex-grow: 1;
}

/* LOGO SPOTIFY */
.navigation-coffin .logo{
    display: block;
    width: 100px;
    height: 30px;
    background-image: url("../img/logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation-coffin .logo-navbar-class{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation-coffin .logo-home{
    background-image: url("../img/home.svg");
}
.navigation-coffin .logo-search{
    background-image: url("../img/search.svg");
}
.navigation-coffin .logo-libreria{
    background-image: url("../img/libreria.svg");
}


/* NAVIGATION BAR */
.navigation-coffin nav ul li{
    list-style: none;
}

.playlist ul li a,
.navigation-coffin nav ul li a{
    text-decoration: none;
    font-size: 14px;
}
.navigation-coffin nav ul li a img{
    width: 12%;
}

/* PLAYLIST SECTION */
.playlist div.add-playlist i{
    font-size: 30px;
    color: #8d8d8d;
}

.playlist ul.overf-y{
    width: 100%;
    height: 180px;
}

/* DOWNLOAD APP */
.footer-nav-left .logo-download{
    background-image: url("../img/download.svg");
    background-position-x: -4px;
}

.footer-nav-left{
    height: 65px;
}

.download {
    border-bottom: 1px solid #8d8d8d;
}

.account a,
.download a{
    text-decoration: none;
}

.account a div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    background-image: url("../img/profile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.account a div img{
    width: 70%;
}

/*************** 
       MAIN
****************/

/* UPGRADE SPOTIFY */
.header-upgrade{
    width: calc(100% - 180px);
    height: 70px;
    background-color: #080b12b7;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    position: fixed;
    flex-shrink: 0;
    z-index: 1;
}
.header-upgrade .butt-upgrade{
    padding: 10px;
    background-color: #080b12b7;
    border: 1px solid white;
    border-radius: 20px;
}

/* NAVIGATION BAR (MAIN) */
.lower-body{
    margin-top: 70px;
    padding: 15px;
}

.navbar-main{
    justify-content: center;
    flex-wrap: wrap;
}
.navbar-main li{
    margin: 0 10px 5px;
    list-style: none;
}
.navbar-main li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

/* RECENTLY PLAYED */
.recently,
.for-you,
.artist{
    margin-bottom: 40px;
}

.album-list{
    flex-wrap: wrap;
    list-style: none;
    margin-top: 30px;
}

/* BOX MUSIC */
.album-list .box-album{
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.album-list:last-child{
    margin-right: 0;
}

.cover{
    width: 100%;
}

.cover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title{
    margin: 5px  0;
    font-size: 16px;
}
.subtitle{
    color: #7d7f84;
    font-size: 12px;
}

.artist .album-list .box-album .cover img{
    border-radius: 50%;
}