*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* UTILITY */
.overf-y{
    overflow-y: auto;
}

.mr-r-10{
    margin-right: 10px;
}
.mr-r-20{
    margin-right: 20px;
}
.mr-r-30{
    margin-right: 30px;
}

.col-gray{
    color: #595959;
}

.dis-flex{
    display: flex;
}
.alig-cent{
    align-items: center;
}

/* SETUP DIMENSIONI */

.header-controller{
    width: 100vw;
    height: 12vh;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navigation-coffin{
    width: 17vw;
    height: calc(100vh - 12vh);
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
}

main{
    width: calc(100vw - 17vw);
    height: calc(100vh - 12vh);
    background-color: #141922;
    position: fixed;
    top: 0;
    right: 0;
}

/* HEADER */
.header-controller{
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

/* UTILITY HEADER */

/* CONTAINER LEFT BAR CONTROLLER */
.container-left .banner-music img{
    width: 45px;
    height: 45px;
}

.banner-music .info-music-banner span{
   font-size: 12px;
}

/* CONTAINER CENTER BAR CONTROLLER */
.container-center .controller-music{
    justify-content: center;
    margin-bottom: 10px;
}

.container-center .controller-music i{
    font-size: 18px;
}
.container-center .controller-music i.play-music{
    font-size: 26px;
}


/* BAR TIME && BAR SOUND */
.bar .time-bar{
    font-size: 12px;
}

.bar .progress-bar{
    position: relative;
    width: 25vw;
    height: 3px;
    background-color: #5a5a5a;
    border-radius: 3px;
}

.bar .sound-bar{
    position: relative;
    width: 8vw;
    height: 3px;
    background-color: #5a5a5a;
    border-radius: 3px;
}


.bar .progress{
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 3px;
    background-color: #c1c1c1;
    border-radius: 3px;
}

/* CONTAINER RIGHT */
.container-left i,
.container-right i{
    font-size: 15px;
}
